.cards__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--offset-l-30);
    padding-top: var(--offset-m-15);
}

.cards-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: calc(100vh - 160px - 42px - 40px);
    border-radius: var(--offset-m);
    padding: var(--offset-m-15) var(--offset-l);
    gap: var(--offset-m);
    overflow-y: scroll;
}

.cards__info {
    display: flex;
    gap: var(--offset-m);
    align-items: center;
}

.cards__count {
    padding: 11px 12.5px;
    border-radius: 50%;
    background-color: var(--white);
    text-align: center;
}

.todo {
    background-color: var(--additional-color-2);
}

.inprogress {
    background-color: var(--additional-color-1);
}

.complete {
    background-color: var(--primary-color);
}

.table__header {
    display: none;
}

.card__wrapper-to768 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--offset-m-15);
    align-self: center;
}

.card__box {
    padding: var(--offset-lm-15) var(--offset-l);
    background: #FFFFFF;
    border-radius: var(--offset-l);
    filter: drop-shadow(0px 4px 4px var(--secondary-color-o20));
    height: 220px;
    width: 360px;
}

.card {
    display: grid;
    grid-template-areas:
        "status title title title priority"
        "description description description description description"
        "description description description description description"
        "assignee assignee assignee date date"
        "comments private delete edit edit";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width:768px) {
    .cards__wrapper .cards-container:not(:target) .card__wrapper-to768 {
        display: none;
    }
}

.card__status {
    grid-area: status;
    font-size: 1rem;
    align-self: center;
}

.status__wrapper {
    border: 1px solid var(--black-o10);
    border-radius: var(--offset-m);
    text-align: center;
}

.card__title {
    grid-area: title;

    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
    opacity: 80%;
    max-height: 38px;
    overflow: hidden;
}

.card__priority {
    grid-area: priority;

    font-size: 1.2rem;
    color: var(--additional-color-2-darker);
    justify-self: flex-end;
}

.priority__wrapper {
    width: 45px;
    height: 45px;
    border: 1px solid var(--secondary-color-o10);
    box-shadow: 0px 1px 1px var(--secondary-color-o10);
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.card__description {
    grid-area: description;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black);
    align-self: center;
    max-height: 55px;
    overflow: hidden;
}

.card__assignee {
    grid-area: assignee;
    align-self: center;
    justify-self: flex-start;
}

.card__assignee span {
    font-weight: 400;
}

.card__date {
    grid-area: date;
    font-size: 1.2rem;
    color: var(--black);
    opacity: 50%;
    align-self: center;
    justify-self: flex-end;
}

.card__comments {
    grid-area: comments;
    align-self: center;
    justify-self: flex-start;
    display: flex;
    gap: var(--offset-m);
}

.comments {
    background-image: url("../assets/icon/comments.svg");
    width: var(--offset-l-30);
    height: 24px;
}

.card__private {
    grid-area: private;
    color: var(--black);
    opacity: 50%;
    align-self: center;
    justify-self: flex-end;
}

.card__delete-button {
    grid-area: delete;
    border: none;
    box-shadow: none;
    align-self: center;
    justify-self: flex-end;
    transform: translateX(25px);
}

.delete {
    background-image: url("../assets/icon/delete.svg");
    width: 24px;
    height: 24px;
}

.card__edit-button {
    display: flex;
    gap: var(--offset-m);
    grid-area: edit;
    justify-self: flex-end;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 7px 13px;
}

.edit {
    background-image: url("../assets/icon/edit.svg");
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar {
    width: var(--offset-m-15);
    background-color: var(--additional-color-1);
    border-radius: var(--offset-l);
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--additional-color-1-darker);
    border-radius: var(--offset-l);
}

::-webkit-scrollbar-thumb {
    background-color: #d4711380;
    border-radius: var(--offset-l);

}

.todo::-webkit-scrollbar {
    background-color: var(--additional-color-2);
}

.todo::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--additional-color-2-darker);
}

.todo::-webkit-scrollbar-thumb {
    background-color: var(--additional-color-2-darker-o50);
}

.complete::-webkit-scrollbar {
    background-color: var(--primary-color);
}

.complete::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--secondary-color);
}

.complete::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color-o85);
}

.button_show-more {
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: var(--white);
    padding: var(--offset-m) var(--offset-l);
    position: absolute;
    bottom: 52px;
    left: 50vw;
    transform: translateX(-50%);
}

@media (max-width:1319px) {
    .card__box {
        padding: var(--offset-m) var(--offset-m);
        width: 100%;
    }
}

@media (max-width:1024px) {
    .card__status {
        justify-self: flex-start;
        line-height: 1rem;
        min-width: 46px;
    }

    .cards__wrapper {
        gap: var(--offset-m);
    }

    .cards-container {
        padding: var(--offset-m) var(--offset-m);
    }

    .card__priority {
        justify-self: flex-end;
        font-size: 1.0rem;
    }

    .card__title {
        font-size: 1.4rem;
    }

    .priority__wrapper {
        border: none;
        justify-content: flex-end;
    }

    .card__description {
        font-size: 1.0rem;
    }

    .card__assignee {
        font-size: 1.2rem;
    }

    .card__date {
        font-size: 1.0rem;
        line-height: 1rem;
    }

    .card__comments {
        font-size: 1.4rem;
        gap: 2px;
    }

    .comments {
        background-size: contain;
        width: var(--offset-l);
        height: 16px;
    }

    .card__private {
        font-size: 1.4rem;
    }

    .card__edit-button {
        font-size: 0;
        background-color: var(--white);
        box-shadow: none;
        border: none;
    }

    .edit {
        background-image: url("../assets/icon/edit_dark.svg");
        background-size: contain;
        width: 20px;
        height: 20px;
    }
}

@media (max-width:768px) {
    .cards__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .cards-container {
        overflow: hidden;
        padding: var(--offset-s) var(--offset-s);
    }

    .cards__title {
        font-size: 1.2rem;
    }

    .cards__info {
        width: 30vw;
    }

    .cards__count {
        font-size: 1.4rem;
        padding: var(--offset-s) var(--offset-s);
        border-radius: 50%;
    }

    .todo .card__wrapper-to768 {
        background-color: var(--additional-color-2);
    }

    .inprogress .card__wrapper-to768 {
        background-color: var(--additional-color-1);
    }

    .complete .card__wrapper-to768 {
        background-color: var(--primary-color);
    }

    .card__wrapper-to768 {
        position: absolute;
        left: calc((100vw - 400px) / 2);
        top: 54px;
        width: 400px;
        padding: var(--offset-m) var(--offset-s);
        min-height: fit-content;
        height: calc(100vh - 250px - 42px);
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        width: 8px;
        background-color: var(--black-o05);
        border-radius: 4px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px var(--primary-color);
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--black-o25);
    }

    .button_show-more {
        top: calc(100vh - 250px - 42px);
        padding: var(--offset-l) var(--offset-l);
    }
}