.cards__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: calc((100vh - 160px - 42px) / 3);
    border-radius: 10px;
    border-bottom: 1px solid rgba(66, 115, 166, 0.2);
    gap: 1px;
    overflow-y: scroll;
}

.cards__info {
    display: none;
}

.todo {
    background-color: var(--additional-color-2);
}

.inprogress {
    background-color: var(--additional-color-1);
}

.complete {
    background-color: var(--primary-color);
}

.card__box {
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(66, 115, 166, 0.2));
    height: fit-content;
}

.table__header {
    display: grid;
    grid-template-areas:
        ". status title priority description assignee date comments privacy edit delete ";
    grid-template-columns: 11% 6% 11% 6% 27% 9% 6.5% 7% 6.5% 4% 6%;
    grid-template-rows: 50px;
    color: var(--black);
}

.table__header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1024px) {
    .table__header div {
        font-size: 1.2rem;
    }
}

.visibility {
    display: none;
}


@media (max-width:910px) {
    .table__header .table__comments {
        font-size: 1.1rem;
    }
}

.todo .table__header div:nth-child(even) {
    background-color: #5043a610;
}

.inprogress .table__header div:nth-child(even) {
    background-color: #d4711320;
}

.complete .table__header div:nth-child(even) {
    background-color: #4273a620;
}

.card {
    display: grid;
    grid-template-areas:
        ". status title priority description assignee date comments privacy edit delete ";
    grid-template-columns: 11% 6% 11% 6% 27% 9% 6.5% 7% 6.5% 4% 6%;
    grid-template-rows: 100px;
}

.card__status,
.card__title,
.card__priority,
.card__description,
.card__assignee,
.card__date,
.card__comments,
.card__private,
.card__delete-button,
.card__edit-button {
    border: 1px solid rgba(66, 115, 166, 0.2);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__status {
    grid-area: status;
    font-size: 1.2rem;
    text-align: center;
}

@media (max-width:1024px) {
    .card__status {
        font-size: 1.0rem;
    }
}

.card__title {
    grid-area: title;
    text-align: center;
    font-size: 1.4rem;
    word-wrap: break-word;
    color: var(--black);
    opacity: 80%;
    overflow: hidden;
    align-items: flex-start;
}

.card__priority {
    grid-area: priority;
    font-size: 1.2rem;
    color: var(--additional-color-2-darker);
}

@media (max-width:1024px) {
    .card__priority {
        font-size: 1.0rem;
    }
}

.card__description {
    grid-area: description;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black);
    overflow: hidden;
    align-items: flex-start;
}

@media (max-width:1024px) {
    .card__description {
        font-size: 1.0rem;
    }
}

.card__assignee {
    grid-area: assignee;
    font-size: 1.6rem;
    word-wrap: break-word;

}

@media (max-width:1024px) {
    .card__assignee {
        font-size: 1.2rem;
        word-wrap: break-word;
    }
}

.card__assignee span {
    font-weight: 400;
}

.card__date {
    grid-area: date;
    font-size: 1.2rem;
    color: var(--black);
    opacity: 50%;
}

@media (max-width:1024px) {
    .card__date {
        font-size: 0.8rem;
        word-wrap: break-word;
        line-height: 1rem;
        opacity: 100%;
    }
}

.card__comments {
    grid-area: comments;
    display: flex;
    gap: 10px;
}

@media (max-width:1024px) {
    .card__comments {
        font-size: 1.2rem
    }
}

.card__private {
    grid-area: privacy;
    color: var(--black);
    opacity: 50%;
}

@media (max-width:1024px) {
    .card__private {
        font-size: 1.2rem
    }
}

.card__delete-button {
    grid-area: delete;
    border-radius: 0;
    box-shadow: none;
}

.delete {
    background-image: url("../assets/icon/delete.svg");
    width: 24px;
    height: 24px;
    opacity: 50%;
}

.card__edit-button {
    grid-area: edit;
    font-size: 0;
    border-radius: 0;
    box-shadow: none;

}

.edit {
    background-image: url("../assets/icon/edit_dark.svg");
    width: 14px;
    height: 14px;
    opacity: 50%;
}



.inprogress::-webkit-scrollbar {
    width: 15px;
    background-color: var(--additional-color-1);
    border-radius: 20px;
}


.inprogress::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--additional-color-1-darker);
    border-radius: 20px;
}


.inprogress::-webkit-scrollbar-thumb {
    background-color: rgba(212, 113, 19, 0.5);
    border-radius: 20px;

}

.todo::-webkit-scrollbar {
    width: 15px;
    background-color: var(--additional-color-2);
    border-radius: 20px;
}

.todo::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--additional-color-2-darker);
    border-radius: 20px;
}

.todo::-webkit-scrollbar-thumb {
    background-color: rgba(80, 67, 166, 0.5);
    border-radius: 20px;
}

.complete::-webkit-scrollbar {
    width: 15px;
    background-color: var(--primary-color);
    border-radius: 20px;
}

.complete::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--secondary-color);
    border-radius: 20px;
}

.complete::-webkit-scrollbar-thumb {
    background-color: rgba(66, 115, 166, 0.5);
    border-radius: 20px;
}

.button_show-more {
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 10px 20px;
    position: absolute;
    bottom: 52px;
    left: 50vw;
    transform: translateX(-50%);
}




@media (max-width:600px) {
    .view {
        display: none;
    }
}


@media (max-width:1024px) {

    .button__view-row,
    .button__view-table {
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
}

.button__view-row {
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(66, 115, 166, 0.2);
}

.button__view-table {
    background-color: var(--white);
    box-shadow: none;
}

.table-view {
    background-image: url("../assets/icon/table_dark.svg");
    width: 26px;
    height: 26px;
}

@media (max-width:1024px) {
    .table-view {
        background-size: contain;
        width: 18px;
        height: 18px;
        margin-top: 3px;
    }
}

.row-view {
    background-image: url("../assets/icon/row_light.svg");
    width: 22px;
    height: 24px;
}

@media (max-width:1024px) {
    .row-view {
        background-size: contain;
        width: 18px;
        height: 18px;
        margin-top: 3px;
    }
}