.cards__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
}

.cards-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: calc((100vh - 16rem - 4.2rem) / 3);
    border-radius: 1rem;
    border-bottom: 1px solid var(--secondary-color-o20);
    gap: 0.1rem;
    overflow-y: scroll;
}

.cards__info {
    display: none;
}

.todo {
    background-color: var(--additional-color-2);
}

.inprogress {
    background-color: var(--additional-color-1);
}

.complete {
    background-color: var(--primary-color);
}

.card__box {
    background: #FFFFFF;
    filter: drop-shadow(0rem 0.4rem 0.4rem var(--secondary-color-o20));
    height: fit-content;
}

.table__header {
    display: grid;
    grid-template-areas:
        ". status title priority description assignee date comments privacy edit delete ";
    grid-template-columns: 11% 6% 11% 6% 27% 9% 6.5% 7% 6.5% 4% 6%;
    grid-template-rows: 50px;
    color: var(--black);
}

.table__header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visibility {
    display: none;
}

.todo .table__header div:nth-child(even) {
    background-color: var(--additional-color-2-darker-o10);
}

.inprogress .table__header div:nth-child(even) {
    background-color: var(--additional-color-1-darker-o20);
}

.complete .table__header div:nth-child(even) {
    background-color: var(--secondary-color-o20);
}

.card {
    display: grid;
    grid-template-areas:
        ". status title priority description assignee date comments privacy edit delete ";
    grid-template-columns: 11% 6% 11% 6% 27% 9% 6.5% 7% 6.5% 4% 6%;
    grid-template-rows: 10rem;
}

.card__status,
.card__title,
.card__priority,
.card__description,
.card__assignee,
.card__date,
.card__comments,
.card__private,
.card__delete-button,
.card__edit-button {
    border: 1px solid var(--secondary-color-o20);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__status {
    grid-area: status;
    font-size: 1.2rem;
    text-align: center;
}

.card__title {
    grid-area: title;
    text-align: center;
    font-size: 1.4rem;
    word-wrap: break-word;
    color: var(--black);
    opacity: 80%;
    overflow: hidden;
    align-items: flex-start;
}

.card__priority {
    grid-area: priority;
    font-size: 1.2rem;
    color: var(--additional-color-2-darker);
}

.card__description {
    grid-area: description;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black);
    overflow: hidden;
    align-items: flex-start;
}

.card__assignee {
    grid-area: assignee;
    font-size: 1.6rem;
    word-wrap: break-word;
}

.card__assignee span {
    font-weight: 400;
}

.card__date {
    grid-area: date;
    font-size: 1.2rem;
    color: var(--black);
    opacity: 50%;
}

.card__comments {
    grid-area: comments;
    display: flex;
    gap: 1rem;
}

.card__private {
    grid-area: privacy;
    color: var(--black);
    opacity: 50%;
}

.card__delete-button {
    grid-area: delete;
    border-radius: 0;
    box-shadow: none;
}

.delete {
    background-image: url("../assets/icon/delete.svg");
    width: 2.4rem;
    height: 2.4rem;
    opacity: 50%;
}

.card__edit-button {
    grid-area: edit;
    font-size: 0;
    border-radius: 0;
    box-shadow: none;
}

.edit {
    background-image: url("../assets/icon/edit_dark.svg");
    width: 1.4rem;
    height: 1.4rem;
    opacity: 50%;
}

.inprogress::-webkit-scrollbar {
    width: 1.5rem;
    background-color: var(--additional-color-1);
    border-radius: 2rem;
}

.inprogress::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.2rem var(--additional-color-1-darker);
    border-radius: var(--offset-l);
}

.inprogress::-webkit-scrollbar-thumb {
    background-color: #d4711380;
    border-radius: var(--offset-l);
}

.todo::-webkit-scrollbar {
    width: 1.5rem;
    background-color: var(--additional-color-2);
    border-radius: 2rem;
}

.todo::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.2rem var(--additional-color-2-darker);
    border-radius: 2rem;
}

.todo::-webkit-scrollbar-thumb {
    background-color: var(--additional-color-2-darker-o50);
    border-radius: 2rem;
}

.complete::-webkit-scrollbar {
    width: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
}

.complete::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--secondary-color);
    border-radius: 2rem;
}

.complete::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color-o80);
    border-radius: 2rem;
}

.button_show-more {
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 1rem 2rem;
    position: absolute;
    bottom: 5.2rem;
    left: 50vw;
    transform: translateX(-50%);
}

.button__view-row {
    background-color: var(--secondary-color);
    box-shadow: 0px 0.4rem 0.4rem var(--secondary-color-o20);
}

.button__view-table {
    background-color: var(--white);
    box-shadow: none;
}

.table-view {
    background-image: url("../assets/icon/table_dark.svg");
    width: 2.6rem;
    height: 2.6rem;
}

.row-view {
    background-image: url("../assets/icon/row_light.svg");
    width: 2.2rem;
    height: 2.4rem;
}

@media (max-width:1024px) {
    .table__header div {
        font-size: 1.2rem;
    }

    .card__status {
        font-size: 1.0rem;
    }

    .card__priority {
        font-size: 1.0rem;
    }

    .card__description {
        font-size: 1.0rem;
    }

    .card__assignee {
        font-size: 1.2rem;
        word-wrap: break-word;
    }

    .card__date {
        font-size: 0.8rem;
        word-wrap: break-word;
        line-height: 1rem;
        opacity: 100%;
    }

    .card__comments {
        font-size: 1.2rem
    }

    .card__private {
        font-size: 1.2rem
    }

    .button__view-row,
    .button__view-table {
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
    }

    .table-view {
        background-size: contain;
        width: 1.8rem;
        height: 1.8rem;
        margin-top: 0.3rem;
    }

    .row-view {
        background-size: contain;
        width: 1.8rem;
        height: 1.8rem;
        margin-top: 0.3rem;
    }
}

@media (max-width:910px) {
    .table__header .table__comments {
        font-size: 1.1rem;
    }
}

@media (max-width:600px) {
    .view {
        display: none;
    }
}