.filters {
    border-bottom: 1px solid rgba(66, 115, 166, 0.3);
    padding: 13px 0;
}

.filters__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.visibility {
    display: none;
}

.filters__container {
    display: flex;
    gap: 35px;
}

.filters-box {
    background: #FFFFFF;
    border: 1px solid rgba(66, 115, 166, 0.85);
    box-shadow: 0px 4px 4px rgba(66, 115, 166, 0.1);
    border-radius:5px;  padding: 10px 5px;

}

select {
    font-size: 1.6rem;
    font-weight: 600;
    width: 90px;
    color: var(--black);
    color: var(--secondary-color);
    text-align: start;
    gap:10px;
    cursor: pointer;
    
}
option{
    color: var(--black);
    font-size: 1.4rem;
}



input {
    display: block;
    background: #FFFFFF;
    border: 1px solid rgba(66, 115, 166, 0.60);
    box-shadow: 0px 4px 4px rgba(66, 115, 166, 0.1);
    width: 90px;
    border-radius: 5px;
    padding: 12px 12px;
}

.filters__privacy,
.filters__priority input {
    width: 100px;
}

input::placeholder {
    color: var(--secondary-color);
    text-align: start;
    font-size: 1.6rem;
}

.button-date {
    display: flex;
    align-items: flex-start;
  gap: 5px;
    font-size: 1.6rem;
    background: #FFFFFF;
    border: 1px solid rgba(66, 115, 166, 0.60);
    box-shadow: 0px 4px 4px rgba(66, 115, 166, 0.1);
    border-radius: 5px;
    padding: 11px 5px 11px 10px;
    width: 80px;
    text-align: start;
}
.arrow {
    background-image: url("/datamola2023/UI/assets/icon/arrow.svg");
    width: 19px;
    height:19px;
}

.form__search {
    display: flex;
}

.form__search input {
    min-width: 200px;
    padding: 10.5px 12px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.form__search input::placeholder {
    color: rgba(66, 115, 166, 0.5);
    text-align: start;
    font-size: 1.6rem;
}

.button-search {
    background-color: var(--secondary-color);
    width: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.search {
    background-image: url("/datamola2023/UI/assets/icon/search.svg");
    width: 35px;
    height: 35px;
}

.view {
    display: inline-flex;
}

.button__view-row,
.button__view-table {
    width: 45px;
    height: 45px;
    background-color: var(--white);
}

.button__view-row {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: none;
}

.button__view-table {
    background-color: var(--secondary-color);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.table-view {
    background-image: url("/datamola2023/UI/assets/icon/table.svg");
    width: 26px;
    height: 26px;
}

.row-view {
    background-image: url("/datamola2023/UI/assets/icon/row.svg");
    width: 22px;
    height: 24px;
}

.button__add-new-task {
    border: 2px dashed var(--secondary-color);
    padding: 13px 18px;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
}

.add {
    background-image: url("/datamola2023/UI/assets/icon/plus.svg");
    width: 23px;
    height: 23px;
}