.header {
    background: var(--white);
    box-shadow: 0rem 0.4rem 0.4rem var(--secondary-color-o10);
    width: 100%;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem 0;
}

.header-logo {
    display: flex;
}

.logo {
    background-image: url("../assets/icon/logo.svg");
    width: 5rem;
    height: 5rem;
}

.logo__text {
    font-family: "Urbanist";
    font-size: 1.8rem;
    text-transform: uppercase;
    align-self: flex-end;
    margin-left: 0.5rem;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 100px;
}

.header .logo__text {
    transform: translate(-45%, 16%);
}

.header .profile-name {
    font-size: 1.8rem;
}

.header__button {
    font-size: 1.8rem;
    padding: 0.7rem 1.5rem;
}

@media (max-width:1319px) {
    .header__wrapper {
        padding: 0.5rem 1rem;
    }
}

@media (max-width:1024px) {
    .header__box {
        gap: 5rem;
    }
}

@media (max-width:768px) {
    .header__box {
        gap: 5vw;
    }

    .header .profile-name {
        font-size: 1.4rem;
    }

    .header__button {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }
}

@media (max-width:600px) {
    .header__box {
        gap: 1rem;
    }

    .header .profile-name {
        font-size: 1.2rem;
    }
}