.header {
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(66, 115, 166, 0.1);
    width: 100%;
}



.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
@media (max-width:1319px) {
    .header__wrapper {
        padding: 5px 10px;
    }
}

.header-logo {
    display: flex;
}

.logo {
    background-image: url("../assets/icon/logo.svg");
    width: 50px;
    height: 50px;
}

.logo__text {
    font-family: "Urbanist";
    font-size: 1.8rem;
    text-transform: uppercase;
    align-self: flex-end;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 100px;
}
@media (max-width:1024px) {
    .header__box  {
        gap: 50px;
    }
}
@media (max-width:768px) {
    .header__box {
        gap: 5vw;
    }
}
@media (max-width:600px) {
    .header__box {
        gap: 10px;
    }
}
.header .logo__text {
    transform: translate(-45%, 16%);
}

.header .profile-name {
    font-size: 1.8rem;
}
@media (max-width:768px) {
    .header .profile-name  {
        font-size: 1.4rem;
    }
}
@media (max-width:600px) {
    .header .profile-name {
        font-size: 1.2rem;
    }
}
.header__button {
    font-size: 1.8rem;
    padding: 7px 15px;
}
@media (max-width:768px) {
    .header__button  {
        font-size: 1.2rem;
    padding: 5px 10px;
    }
}