.modal-content {
    width: 80rem;
    margin: 0 auto;
    margin-top: calc(100vh / 4);
    background: var(--white);
    border: 0.1rem solid var(--secondary-color-o30);
    box-shadow: 0rem 0.5rem 1rem var(--black-o25);
    border-radius: 1rem;
    padding: 2rem 3rem 4rem 3rem;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 500;
}

.close {
    border: none;
    box-shadow: none;
    align-items: flex-start;
}

.task__form {
    display: grid;
    grid-template-areas:
        "label-fot-title label-fot-title"
        "input-title input-title"
        "label-description label-description"
        "input-description input-description"
        "assignee assignee"
        "status status"
        "priority priority"
        "privacy forms-buttons";
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.task__form input {
    border: 1px solid var(--secondary-color);
    box-shadow: inset 0rem 0rem 0.3rem var(--secondary-color-o10), inset 0rem 0.2rem 0.3rem var(--secondary-color-o20);
    border-radius: 1rem;
    padding: 1rem;
}

.task__form label {
    font-size: 1.4rem;
    color: var(--black);
    width: 12%;
}

.label-for-title {
    grid-area: label-fot-title;
    margin-bottom: -1.8rem;
}

.input-title {
    grid-area: input-title;
    height: 5rem;
}

.label-for-description {
    grid-area: label-description;
    margin-bottom: -1.8rem;
}

.input-description {
    grid-area: input-description;
    height: 10rem;
}

.task__form input::placeholder {
    color: var(--black-o50);
    font-weight: 400;
}

.task__assignee {
    grid-area: assignee;
}

.select-box {
    display: flex;
    align-items: center;
}

.select-box select {
    padding: 1.05rem 1.2rem;
    border: 0.1rem solid var(--secondary-color-o50);
    box-shadow: 0rem 0.4rem 0.4rem var(--secondary-color-o20);
    width: 12rem;
    border-radius: 0.5rem;
    padding: 1.3rem 1.2rem;
    width: 28%;
}

.task__status {
    grid-area: status;
}

.task__priority {
    grid-area: priority;
}

.task__privacy {
    grid-area: privacy;
}

.task__privacy input {
    margin-right: 1rem;
}

.label-for-public {
    margin-right: 2rem;
}

.forms-buttons {
    grid-area: forms-buttons;
    justify-self: flex-end;
}

.optional {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--black-o50);
    margin-left: 1.5rem;
}

.forms-buttons {
    align-self: flex-end;
    display: flex;
    gap: 3rem;
}

.forms-buttons .reset {
    padding: 0.8rem 2.5rem;
    text-transform: uppercase;
}

.forms-buttons .submit {
    padding: 0.8rem 2rem;
    background-color: var(--secondary-color);
    color: var(--white);
    text-transform: uppercase;
}

button:disabled {
    opacity: 80%;
}

@media (max-width:1024px) {
    .modal {
        width: 100vw;
    }

    .modal-content {
        width: 100%;
        margin-top: 10vh;
    }
}

@media (max-width:600px) {
    .modal-header {
        font-size: 2rem;
    }

    .task__form {
        grid-template-areas:
            "label-fot-title label-fot-title"
            "input-title input-title"
            "label-description label-description"
            "input-description input-description"
            "assignee assignee"
            "status status"
            "priority priority"
            "privacy privacy"
            "forms-buttons forms-buttons";
    }

    .input-title {
        height: 3rem;
    }

    .input-description {
        height: 6rem;
    }

    .select-box select {
        padding: 0.8rem 1rem;
        width: 60%;
    }

    .task__form label {
        width: 20%;
    }

    .task__privacy input {
        margin-right: 0.5rem;
    }

    .label-for-public {
        margin-right: 0.2rem;
    }

    .optional {
        margin-left: 1rem;
    }

    .forms-buttons .reset {
        font-size: 1.4rem;
        padding: 0.6rem 2rem;
    }

    .forms-buttons .submit {
        font-size: 1.4rem;
        padding: 0.6rem 2rem;
    }
}