
.profile-edit__wrapper {
    display: flex;
    gap: 130px;
}

.arrow-back_dark {
    background-image: url("/datamola2023/UI/assets/icon/arrow-back-dark.svg");
    width: 24px;
    height: 24px;
}

.path {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.button__to-main {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 170px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--white);
    background-color: var(--secondary-color);
    margin-top: 10px;

}

.arrow-back {
    background-image: url("/datamola2023/UI/assets/icon/arrow-back.svg");
    width: 24px;
    height: 24px;
}

.profile__container {
    padding: 40px 0;
    display: flex;
    gap: 55px;
}



.photo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 83%;
}

.photo {
    background-image: url("/datamola2023/UI/assets/img/user.jpg");
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.button__add-photo {
    background-color: var(--secondary-color);
    width: 75px;
    padding: 5px 20px;
    border-radius: 25px;
}

.photo-camera {
    background-image: url("/datamola2023/UI/assets/icon/camera.svg");
    width: 22px;
    height: 20px;
}

.profile__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.profile__form input {
    height: 55px;
    width: 555px;
    margin-bottom: 40px;
    border: 2px solid #598234;
    box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}
.profile__form input::placeholder {
color: var(--black);
}
.profile__form label {
    font-weight: 400;
    margin-bottom: 5px;
}

.forms-buttons {
    align-self: flex-end;
    display: flex;
    gap: 30px;

}
.forms-buttons .reset{
    padding: 8px 25px;
    text-transform: uppercase;
}
.forms-buttons .submit{
    padding: 8px 20px;
    background-color: var(--secondary-color);
    color: var(--white);
    text-transform: uppercase;
}