.task__wrapper {
    display: flex;
    justify-content: flex-start;
}

.arrow-back_dark {
    background-image: url("../assets/icon/arrow-back-dark.svg");
    width: 16px;
    height: 16px;
}

.path-to {
    align-self: flex-start;
}

.path {
    margin-top: var(--offset-m);
    display: flex;
    gap: var(--offset-s);
}

.task__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(((1320px - 800px) / 2) - 170px);
    margin-top: 40px;
}

.button__to-main {
    display: flex;
    align-items: center;
    gap: var(--offset-m);
    width: 170px;
    padding: var(--offset-m) 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--white);
    background-color: var(--secondary-color);
    margin-top: var(--offset-m);

}

.arrow_back {
    background-image: url("../assets/icon/arrow-back.svg");
    width: 24px;
    height: 24px;
}

.task__box {
    width: 800px;

    box-sizing: var(--offset-l);
    background: #FFFFFF;
    border: 1px solid rgba(104, 130, 158, 0.5);
    border-radius: 20px 20px 0px 0px;

    display: grid;
    grid-template-areas:
        "status title title title priority"
        "assigne assigne assigne date date"
        "description description description description description"
        "description description description description description"
        "comments private . delete edit";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 60px);
    padding: var(--offset-l-30) 35px;
    color: var(--black);
}

.task__status {
    grid-area: status;
    align-self: center;
    justify-self: flex-start;
}

.task__title {
    grid-area: title;
    font-size: 2.0rem;
    align-self: flex-start;
    justify-self: center;
}

.task__priority {
    grid-area: priority;
    font-size: 1.4rem;
    color: var(--additional-color-3-darker);
    align-self: center;
    justify-self: flex-end;
}

.task__description {
    grid-area: description;
    font-weight: 400;
    text-align: justify;
    align-self: flex-start;
    justify-self: center;
    height: 80px;
    overflow: hidden;
}

.task__assignee {
    grid-area: assigne;
    font-size: 1.4rem;
    align-self: center;
    justify-self: flex-start;
}

.task__assignee span {
    font-size: 1.6rem;
}

.task__date {
    grid-area: date;
    font-size: 1.4rem;
    align-self: center;
    justify-self: flex-end;
}

.task__comments {
    grid-area: comments;
    align-self: center;
    justify-self: flex-start;
    color: var(--secondary-color);
}

.comments {
    background-image: url("../assets/icon/comments.svg");
    width: 30px;
    height: 24px;
    margin-right: var(--offset-m);

}

.task__private {
    grid-area: private;
    align-self: center;
    justify-self: flex-start;
    font-weight: 400;
}

.task__delete-button {
    grid-area: delete;
    text-transform: uppercase;
    color: var(--secondary-color);

    align-self: center;
    justify-self: flex-end;
    padding: 9px var(--offset-l);
    display: flex;
    align-items: center;
    line-height: 120%;
    gap: var(--offset-m);
}

.delete {
    background-image: url("../assets/icon/delete.svg");
    width: 24px;
    height: 24px;
    opacity: 100%;
}

.task__edit-button {
    grid-area: edit;
    background-color: var(--secondary-color);
    color: var(--white);
    text-transform: uppercase;
    align-self: center;
    justify-self: flex-end;
    padding: 12px var(--offset-l);
    display: flex;
    align-items: center;
    line-height: 120%;
    gap: var(--offset-m);
}

.edit {
    background-image: url("../assets/icon/edit.svg");
    width: 14px;
    height: 14px;
    opacity: 100%;
}

.comments-box {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    background: rgba(123, 97, 255, 0.05);
    border-top: 1px solid rgba(66, 115, 166, 0.4);
    box-shadow: 0px 0px 4px rgba(66, 115, 166, 0.2), 2px 2px 4px rgba(66, 115, 166, 0.2);
    max-height: 300px;
    min-height: fit-content;
    overflow-y: scroll;
}

.comment {
    padding: 2px var(--offset-l-30);
    display: grid;
    grid-template-areas:
        "username comment-date . ."
        "comment-text comment-text comment-text comment-text";
    gap: var(--offset-s);
    align-items: flex-end;
}

.username {
    grid-area: username;
    color: var(--black);
}

@media (max-width:600px) {
    .username {
        font-size: 1.2rem;
        align-self: flex-end;
    }
}

.comment__date {
    grid-area: comment-date;
    color: #33333390;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

@media (max-width:600px) {
    .comment__date {
        font-size: 1.2rem;
        justify-self: flex-start;
        line-height: 1.8rem;
    }
}

.comment__text {
    grid-area: comment-text;
    color: var(--black);
    font-weight: 400;
    padding: var(--offset-m) 20px;
    background: #FFFFFF;
    border: 1px solid #4273A6;
    border-radius: var(--offset-s);
    margin: 0 var(--offset-m);
}

.comment__form {
    display: flex;
    gap: var(--offset-l);
    padding: var(--offset-m-15) 40px;
    align-items: center;
    height: 100px;
    width: 800px;

    background-color: var(--white);
    border-radius: 0 0 10px 10px;
    border: 1px solid var(--secondary-color-o50);
    box-shadow: -2px 0px 2px var(--secondary-color-o20), 2px 0px 2px var(--secondary-color-o20);
}

.submit {
    padding: 11px var(--offset-l);
    color: var(--white);
    background-color: var(--secondary-color);
    text-transform: uppercase;
}

.arrow-back {
    background-image: url("../assets/icon/arrow-back.svg");
    width: 24px;
    height: 24px;
}

.comment__input {
    height: 50px;
    flex: 80%;
    background: var(--additional-color-1-darker-o10);
    border: 1px solid var(--additional-color-1-darker-o50);
}

.comment__input::placeholder {
    color: var(--black-o50);
}

::-webkit-scrollbar {
    background-color: var(--additional-color-2);
    width: var(--offset-m);
    border-radius: var(--offset-l);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--additional-color-2-darker);
    border-radius: var(--offset-l);
}

::-webkit-scrollbar-thumb {
    background-color: var(--additional-color-2-darker-o50);
}

@media (max-width:1024px) {
    .task__wrapper {
        flex-direction: column;
        align-items: center;
        padding: 0 var(--offset-m);
    }

    .task__container {
        margin-left: 0;
        margin-top: var(--offset-s);
    }

    .task__box {
        width: 70vw;
        padding: var(--offset-l) var(--offset-m-15);
        grid-template-rows: repeat(5, 50px);
    }

    .task__delete-button {
        padding: 9px var(--offset-m);
    }

    .task__edit-button {
        padding: 12px var(--offset-m);
    }

    .comments-box {
        width: 70vw;
    }

    .comment {
        padding: 2px var(--offset-m-15);
    }

    .comment__form {
        width: 70vw;
        padding: var(--offset-m-15) 25px;
        height: 80px;
    }
}

@media (max-width:768px) {
    .comment__text {
        font-size: 1.2rem;
        margin: 0;
    }

    .task__comments {
        align-self: flex-end;
    }

    .task__private {
        align-self: flex-end;
    }

    .delete {
        background-size: contain;
        width: 20px;
        height: 20px;
    }

    .task__delete-button {
        font-size: 1.2rem;
        padding: 6px 8px;
    }

    .task__edit-button {
        font-size: 1.4rem;
        padding: 8px 8px;
    }

    .submit {
        font-size: 1.4rem;
        padding: 8px 8px;
    }

    .comment__input {
        height: 35px;
    }
}

@media (max-width:600px) {
    .task__box {
        width: 80vw;
        padding: var(--offset-l) var(--offset-m-15);
        grid-template-rows: repeat(5, 40px);
    }

    .task__status {
        font-size: 1.2rem;
    }

    .task__title {
        text-align: center;
    }

    .task__priority {
        font-size: 1.2rem;
    }

    .task__description {
        font-size: 1.2rem;
    }

    .task__assignee {
        font-size: 1.2rem;
    }

    .task__delete-button {
        align-self: flex-end;
        font-size: 0;
        padding: 0;
        box-shadow: none;
        border: none;
    }

    .task__edit-button {
        align-self: flex-end;
        justify-self: center;
        font-size: 0;
        padding: 0;
        box-shadow: none;
        border: none;
        background-color: var(--white);
    }

    .edit {
        background-image: url("../assets/icon/edit_dark.svg");
        background-size: contain;
        width: var(--offset-l);
        height: var(--offset-l);
    }

    .delete {
        background-size: contain;
        width: 24px;
        height: 24px;
    }

    .comments-box {
        width: 80vw;
    }

    .comment {
        grid-template-areas:
            "username comment-date "
            "comment-text comment-text";
        padding: 2px 20px;
    }

    .comment__form {
        width: 80vw;
        padding: var(--offset-m-15) var(--offset-l);
        height: 50px;
        gap: var(--offset-s);
    }

    .submit {
        font-size: 1.2rem;
        font-weight: 400;
    }
}