body {
    height: 100%;
    overflow: hidden;
}

main {
    height: 100vh;
}

.task__wrapper {
    display: flex;
    justify-content: flex-start;
}

.arrow-back_dark {
    background-image: url("../assets/icon/arrow-back-dark.svg");
    width: 1.6rem;
    height: 1.6rem;
}

.path-to {
    align-self: flex-start;
}

.path {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}

.task__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(((132rem - 80rem) / 2) - 17rem);
    height: calc(100vh - 15rem);
    margin-top: 4rem;

}

.button__to-main {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 170px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--white);
    background-color: var(--secondary-color);
    margin-top: 1rem;

}

.arrow_back {
    background-image: url("../assets/icon/arrow-back.svg");
    width: 2.4rem;
    height: 2.4rem;
}

.task__box {
    width: 80rem;

    box-sizing: 2rem;
    background-color: var(--white);
    border: 0.1rem solid var(--secondary-color-o50);
    border-radius: 2rem 2rem 0rem 0rem;

    display: grid;
    grid-template-areas:
        "status title title title priority"
        "assigne assigne assigne date date"
        "description description description description description"
        "description description description description description"
        "comments private . delete edit";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 60px);
    padding: 3rem 3.5rem;
    color: var(--black);
}

.task__status {
    grid-area: status;
    align-self: center;
    justify-self: flex-start;
}

.task__title {
    grid-area: title;
    font-size: 2.0rem;
    align-self: flex-start;
    justify-self: center;
}

.task__priority {
    grid-area: priority;
    font-size: 1.4rem;
    color: var(--additional-color-3-darker);
    align-self: center;
    justify-self: flex-end;
}

.task__description {
    grid-area: description;
    font-weight: 400;
    text-align: justify;
    align-self: flex-start;
    justify-self: center;
    height: 8rem;
    overflow: hidden;
}

.task__assignee {
    grid-area: assigne;
    font-size: 1.4rem;
    align-self: center;
    justify-self: flex-start;
}

.task__assignee span {
    font-size: 1.6rem;
}

.task__date {
    grid-area: date;
    font-size: 1.4rem;
    align-self: center;
    justify-self: flex-end;
}

.task__comments {
    grid-area: comments;
    align-self: center;
    justify-self: flex-start;
    color: var(--secondary-color);
}

.comments {
    background-image: url("../assets/icon/comments.svg");
    width: 3rem;
    height: 2.4rem;
    margin-left: 1rem;

}

.task__private {
    grid-area: private;
    align-self: center;
    justify-self: flex-start;
    font-weight: 400;
}

.task__delete-button {
    grid-area: delete;
    text-transform: uppercase;
    color: var(--secondary-color);

    align-self: center;
    justify-self: flex-end;
    padding: 0.9rem 2rem;
    display: flex;
    align-items: center;
    line-height: 120%;
    gap: 1rem;
}

.delete {
    background-image: url("../assets/icon/delete.svg");
    width: 2.4rem;
    height: 2.4rem;
    opacity: 100%;
}

.task__edit-button {
    grid-area: edit;
    background-color: var(--secondary-color);
    color: var(--white);
    text-transform: uppercase;
    align-self: center;
    justify-self: flex-end;
    padding: 1.2rem 2rem;
    display: flex;
    align-items: center;
    line-height: 120%;
    gap: 1rem;
}
.task__delete-button:disabled,.task__edit-button:disabled{
    background-color: var(--secondary-color-o50);
    cursor:not-allowed;
}

.edit {
    background-image: url("../assets/icon/edit.svg");
    width: 14px;
    height: 14px;
    opacity: 100%;
}
.task__delete-button:disabled .delete, .task__edit-button:disabled .edit{

    cursor:not-allowed;
}

.comments-box {
    display: flex;
    flex-direction: column;
    width: 80rem;
    margin: 0 auto;
    background: var(--additional-color-2-o50);
    border-top: 0.1rem solid var(--secondary-color-o30);
    box-shadow: 0rem 0rem 0.4rem var(--secondary-color-o20), 0.2rem 0.2rem 0.4rem var(--secondary-color-o20);
    height: fit-content;
    max-height: calc(100vh - 70rem);
    overflow-y: scroll;
}

.comment {
    padding: 0.2rem 3rem;
    display: grid;
    grid-template-areas:
        "username comment-date . ."
        "comment-text comment-text comment-text comment-text";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    align-items: flex-end;
}

.username {
    grid-area: username;
    color: var(--black);
}

@media (max-width:600px) {
    .username {
        font-size: 1.2rem;
        align-self: flex-end;
    }
}

.comment__date {
    grid-area: comment-date;
    color: var(--black-o50);
    font-size: 1.2rem;
    line-height: 1.4rem;
}

@media (max-width:600px) {
    .comment__date {
        font-size: 1.2rem;
        justify-self: flex-start;
        line-height: 1.8rem;
    }
}

.comment__text {
    grid-area: comment-text;
    color: var(--black);
    font-weight: 400;
    padding: 1rem 2rem;
    background: var(--white);
    border: 0.1rem solid var(--secondary-color);
    border-radius: 0.5rem;
    margin: 0 1rem;
}

.comment__form {
    display: flex;
    gap: 2rem;
    padding: 1.5rem 4rem;
    align-items: center;
    height: 10rem;
    width: 80rem;

    background-color: var(--white);
    border-radius: 0 0 1rem 1rem;
    border: 0.1rem solid var(--secondary-color-o50);
    box-shadow: -0.2rem 0rem 0.2rem var(--secondary-color-o20), 0.2rem 0rem 0.2rem var(--secondary-color-o20);
}

.submit {
    padding: 1.1rem 2rem;
    color: var(--white);
    background-color: var(--secondary-color);
    text-transform: uppercase;
}

.arrow-back {
    background-image: url("../assets/icon/arrow-back.svg");
    width: 2.4rem;
    height: 2.4rem;
}

.comment__input {
    height: 5rem;
    flex: 80%;
    background: var(--additional-color-1-darker-o10);
    border: 0.1rem solid var(--additional-color-1-darker-o50);
    border-radius: 1rem;
}

.comment__input::placeholder {
    color: var(--black-o50);
    padding: 0.5rem;
}

::-webkit-scrollbar {
    background-color: var(--additional-color-2);
    width: 1rem;
    border-radius: 2rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.2rem var(--additional-color-2-darker);
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--additional-color-2-darker-o50);
}

@media (max-width:1024px) {
    .task__wrapper {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }

    .task__container {
        margin-left: 0;
        margin-top: 0.5rem;
    }

    .task__box {
        width: 70vw;
        padding: 2rem 1.5rem;
        grid-template-rows: repeat(5, 50px);
    }

    .task__delete-button {
        padding: 0.9rem 1rem;
    }

    .task__edit-button {
        padding: 1.2rem 1rem;
    }

    .comments-box {
        width: 70vw;
    }

    .comment {
        padding: 0.2rem 1.5rem;
    }

    .comment__form {
        width: 70vw;
        padding: 1.5rem 2.5rem;
        height: 8rem;
    }
}

@media (max-width:768px) {
    .comment__text {
        font-size: 1.2rem;
        margin: 0;
    }

    .task__comments {
        align-self: flex-end;
    }

    .task__private {
        align-self: flex-end;
    }

    .delete {
        background-size: contain;
        width: 2rem;
        height: 2rem;
    }

    .task__delete-button {
        font-size: 1.2rem;
        padding: 0.6rem 0.8rem;
    }

    .task__edit-button {
        font-size: 1.4rem;
        padding: 0.8rem 0.8rem;
    }

    .submit {
        font-size: 1.4rem;
        padding: 0.8rem 0.8rem;
    }

    .comment__input {
        height: 3.5rem;
    }
}

@media (max-width:600px) {
    .task__box {
        width: 80vw;
        padding: 2rem 1.5rem;
        grid-template-rows: repeat(5, 40px);
    }

    .task__status {
        font-size: 1.2rem;
    }

    .task__title {
        text-align: center;
        font-size: 1.6rem;
    }

    .task__priority {
        font-size: 1.2rem;
    }

    .task__description {
        font-size: 1.2rem;
    }

    .task__assignee {
        font-size: 1rem;
    }

    .task__assignee span {
        font-size: 1.2rem;
    }

    .task__delete-button {
        align-self: flex-end;
        font-size: 0;
        padding: 0;
        box-shadow: none;
        border: none;
    }

    .task__edit-button {
        align-self: flex-end;
        justify-self: center;
        font-size: 0;
        padding: 0;
        box-shadow: none;
        border: none;
        background-color: var(--white);
    }

    .edit {
        background-image: url("../assets/icon/edit_dark.svg");
        background-size: contain;
        width: 2rem;
        height: 2rem;
    }

    .delete {
        background-size: contain;
        width: 2.4rem;
        height: 2.4rem;
    }

    .comments-box {
        width: 80vw;
    }

    .comment {
        grid-template-areas:
            "username comment-date "
            "comment-text comment-text";
        padding: 0.2rem 2rem;
    }

    .comment__form {
        width: 80vw;
        padding: 1.5rem 2rem;
        height: 5rem;
        gap: 0.5rem;
    }

    .submit {
        font-size: 1.2rem;
        font-weight: 400;
    }
}